{#
/**
 * @file
 * TaraPro's theme implementation to display front page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template.
 *
 */
#}
{% include '@tarapro/template-parts/header.html.twig' %}
{% if slider_show %}
  {% include '@tarapro/template-parts/slider.html.twig' %}
{% endif %}
<div id="main-wrapper" class="main-wrapper">
  <div class="container">
    <a id="main-content" tabindex="-1"></a>
    {% if front_sidebar %}
      <main id="main" class="homepage-content page-content" role="main">
    {% else %}
      <main id="front-main" class="homepage-content page-content" role="main">
    {% endif %}
      {% include '@tarapro/template-parts/content_top.html.twig' %}
			{% if page.content_home %}
				<div class="homepage-content-block">
					{{ page.content_home }}
				</div><!--/.homepage-content -->
			{% endif %}
      {{ page.content }}
      {% include '@tarapro/template-parts/content_bottom.html.twig' %}
    </main>
    {% if front_sidebar %}
      {% include '@tarapro/template-parts/left_sidebar.html.twig' %}
      {% include '@tarapro/template-parts/right_sidebar.html.twig' %}
    {% endif %}
  </div> <!--/.container -->
</div><!-- /main-wrapper -->
{% if animated_sidebar_option %}
  {% include '@tarapro/template-parts/sidebar_sliding.html.twig' %}
{% endif %}
{% include '@tarapro/template-parts/footer.html.twig' %}
{% if slider_show %}
  <script>
  jQuery(document).ready(function ($) {
    $(".home-slider").owlCarousel({
      items: 1,
      loop: true,
      autoplay: true,
      autoplayTimeout: {{ slider_time }},
      nav: false,
      dots: {{ slider_dots }},
			animateOut: '{{ slider_animateout }}',
      animateIn: '{{ slider_animatein }}',
    });
  });
  </script>
{% endif %}
