/* Theme base color */
.header-top-left i:hover, ul.social-icons li a:hover, mark,
ins, li.node-readmore a, .pager__item a:hover, .pager__item.is-active a,
.home-slider h1 em, .home-slider h2 em, .home-slider h3 em,
.home-slider a.button, .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span,
.homepage-content h3.block-title::after {
  background: #dc5431;
}
.plan-name, .cookiealert, .service:hover i, .theme-bg, .theme,
.title::after, .scrolltop:hover, .sliding-sidebar .block-title::after, .dropcap:first-letter,
.home-slider h1 em, .home-slider h2 em, .home-slider h3 em, .home-slider h4 em {
  background: #dc5431;
}
.button, a.button,
.button-round, a.button-round, .button-round[disabled],
.button-dark:hover, a.button-dark:hover, .button-animate::after,
a.button-animate::after, .button-animate[disabled]::after,
.button.dark:hover {
  background: #dc5431;
}
::selection {
  background: #dc5431;
}
::-moz-selection {
  background: #dc5431;
}
input[type="submit"],
input[type="button"],
button {
  background-color: #dc5431;
}
a, li a.active, em, .sliding-panel-icon i,
.form-required:after, .node-submitted-details i, .term-title i,
#node-comment i, .service i, #maintenance i, .theme-color, .box i,
.share-node-title i, .accordion-title::before, .toggle-title::before {
  color: #dc5431;
}
.button-outline:hover, a.button-outline:hover,
.active-toggle, .active-accordion, .testimonials .item:hover::before,
.testimonials .item:hover .firm {
  color: #dc5431;
}
.icon-box:hover i, .icon-box2:hover .icon i,
.theme .button:hover, .theme a.button:hover, .search-icon i {
  color: #dc5431;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  border: 1px solid #dc5431;
}
.footer .block-title,
.sidebar h3.block-title {
  border-left: 2px solid #dc5431;
}
.close-mobile-menu,
.service i, .button-outline, a.button-outline, .button-outline[disabled] {
  border: 2px solid #dc5431;
}
.active-tab a {
  border-top: 3px solid #dc5431;
  border-bottom: 3px solid #dc5431;
}
/* Body text color. */
body {
  color: #676767;
}

/* Header top background */
.header-top,
#breadcrumb {
  background: #e4e4dd;
}

/* Header background */
.header {
  background: #ffffff;
}

/* Body background. */
body, .main-wrapper, #main, #homepage-content-wrapper, #highlighted, #content-top,
#content-bottom, #slider {
  background: #f4f4ef;
}

/* Sidebar background. */
.sidebar .block {
  background: #edede8;
}
/* Footer background color. */
#footer {
  background: #e4dcd3 url(../images/footer-bg.png);
}

/* Social icons color */
.header-top-left i,
ul.social-icons li a {
  background: #c4bdb5;
}

/* Heading color */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
}
/* Main menu links */
ul.main-menu > li a {
  color: #212121;
}
