/**
* Owl Carousel v2.3.4
* Copyright 2013-2018 David Deutsch
* Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
*/
/*
*  Owl Carousel - Core
*/
.owl-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent; /* position relative and z-index fix webkit rendering fonts issue */
	position: relative;
	z-index: 1;
}
.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
	touch-action: manipulation;
	-moz-backface-visibility: hidden; /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden; /* fix for flashing background */
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
	display: block;
	width: 100%;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
	display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
	background: none;
	color: inherit;
	border: none;
	padding: 0 !important;
	font: inherit;
}
.owl-carousel.owl-loaded {
	display: block;
}
.owl-carousel.owl-loading {
	opacity: 0;
	display: block;
}
.owl-carousel.owl-hidden {
	opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
	visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.owl-carousel.owl-grab {
	cursor: move;
	cursor: grab;
}
.owl-carousel.owl-rtl {
	direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
	float: right;
}

/* No Js */
.no-js .owl-carousel {
	display: block;
}

/*
*  Owl Carousel - Animate Plugin
*/
.owl-carousel .animated {
	animation-duration: 1000ms;
	animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
	z-index: 0;
}
.owl-carousel .owl-animated-out {
	z-index: 1;
}

.owl-carousel .fadeOut {
	animation-name: fadeOut;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/*
* 	Owl Carousel - Auto Height Plugin
*/
.owl-height {
	transition: height 500ms ease-in-out;
}

/*
* 	Owl Carousel - Lazy Load Plugin
*/
.owl-carousel .owl-item {
/**
This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
calculation of the height of the owl-item that breaks page layouts
*/
}
.owl-carousel .owl-item .owl-lazy {
	opacity: 0;
	transition: opacity 400ms ease;
}
.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
	max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
	transform-style: preserve-3d;
}

/*
* 	Owl Carousel - Video Plugin
*/
.owl-carousel .owl-video-wrapper {
	position: relative;
	height: 100%;
	background: #000;
}

.owl-carousel .owl-video-play-icon {
	position: absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	background: url("owl.video.play.png") no-repeat;
	cursor: pointer;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
	-ms-transform: scale(1.3, 1.3);
	transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
	display: none;
}

.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%;
}
/**
* Owl Carousel v2.3.4
* Copyright 2013-2018 David Deutsch
* Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
*/
/*
* 	Default theme - Owl Carousel CSS File
*/
.owl-theme .owl-nav,
.owl-nav {
	margin-top: 10px;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'],
.owl-nav [class*='owl-'] {
	color: #FFF;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: #D6D6D6;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-']:hover,
.owl-nav [class*='owl-']:hover {
	background: #869791;
	color: #FFF;
	text-decoration: none;
}
.owl-theme .owl-nav .disabled,
.owl-nav .disabled {
	opacity: 0.5;
	cursor: default;
}
.owl-theme .owl-dots,
.owl-dots {
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot,
.owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.owl-theme .owl-dots .owl-dot span,
.owl-dots .owl-dot span {
	width: 10px;
	height: 5px;
	margin: 0 4px;
	background: #D6D6D6;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity 200ms ease;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span,
.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
	background: #dc5431;
  width: 18px;
}

/* Styling Navigation arrow */
.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  background: #ffffff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
}
.owl-nav button:focus {
  outline: 0;
}
/* Custom Homepage -> Slider */
#slider {
  position: relative;
	width: 100%;
	height: 100vh;
  margin: 0 auto;
  padding: 0;
	background: #f4f4ef;
}
.home-slider {
  position: relative;
	width: 100%;
}
.owl-stage-outer {
	height: calc(100vh - 22px);
}
.slider-item {
	position: relative;
	display: flex;
	height: calc(100vh - 22px);
	width: 100%;
}
.slider-img {
	flex-basis: 100%;
	width: 100%;
	height: calc(100vh - 22px);
}
.slider-text-container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: calc(100vh - 22px);
	justify-content: flex-start;
	align-items: center;
}
.layer1,
.layer2,
.layer3,
.layer4,
.layer5,
.layer6 {
	color: #fff;
	visibility: visible;
	opacity: 0;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
}
.active .layer1,
.active .layer2,
.active .layer3,
.active .layer4,
.active .layer5,
.active .layer6 {
	visibility: visible;
  opacity: 1;
	filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.layer1,
.layer4 {
  -webkit-transform: translate3d(-100%, 0 , 0);
  -moz-transform: translate3d(-100%, 0 , 0);
  transform: translate3d(-100%, 0 , 0);
}
.active .layer1 {
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  transition-delay: 1s;
}
.active .layer4 {
  -webkit-transition-delay: 5s;
  -moz-transition-delay: 5s;
  transition-delay: 5s;
}
.layer3 {
  -webkit-transform: translate3d(0, 100% , 0);
  -moz-transform: translate3d(0, 100% , 0);
  transform: translate3d(0, 100% , 0);
}
.active .layer3 {
  -webkit-transition-delay: 4s;
  -moz-transition-delay: 4s;
  transition-delay: 4s;
}
.layer2,
.layer5 {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.active .layer2 {
  -webkit-transition-delay: 3s;
  -moz-transition-delay: 3s;
  transition-delay: 3s;
}
.active .layer5 {
  -webkit-transition-delay: 6s;
  -moz-transition-delay: 6s;
  transition-delay: 6s;
}
.home-slider h1,
.home-slider h2,
.home-slider h3,
.home-slider h4 {
  margin: 0;
  line-height: 1.6;
  color: #fff;
}
.home-slider h1 {
  font-size: 2.6em;
}
.home-slider h2 {
  font-size: 2em;
}
.home-slider h3 {
  font-size: 1.4em;
}
.home-slider h4 {
  font-size: 1.2em;
}
.home-slider h1 em,
.home-slider h2 em,
.home-slider h3 em,
.home-slider h4 em {
  padding: 0 10px;
  font-style: normal;
  background: #dc5431;
  color: #fff;
}
.home-slider p {
  width: 60%;
  margin: 20px 0;
  font-size: 1.2em;
}
.home-slider p em {
  padding: 0 10px;
  font-style: normal;
  background: #fff;
  color: #222;
}
.home-slider a.button {
  padding: 10px 20px;
  background: #dc5431;
  color: #fff;
}
.home-slider .owl-item {
  position: relative;
}
.home-slider .owl-item a.button:hover,
.home-slider a.button:hover {
  background: #222;
}
.home-slider .owl-dots {
  position: relative;
  z-index: 15;
  text-align: center;
}
